body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: RGB(82, 125, 134);
    background-image: linear-gradient(
      rgba(82, 125, 134, 0.5),
      rgba(82, 125, 134, 0.5)
    ),url("barbecue-bbq_rotated.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    margin: auto;
    font-family: 'Yellowtail', cursive;
    background-color: RGB(199, 105, 77);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
}

/* Begin Start Screen CSS */
.startScreen {
    display: flex; 
    flex-direction: column;
    margin-top: 50px;
}

.feedMe, .beerMe {
    width: 200px;
    height: 65px;
    font-weight: bold;
    font-size: 30px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
    background-color: RGB(219, 139, 80);
    border-radius: 15px;
    border-color: RGB(219, 139, 80);
}

/* End START SCREEN CSS */

/* Begin restaurant Section CSS */
.restaurant {
    display: none;
    margin-top: 10px;
}

.restaurantSearch {
    margin-left: auto;
    margin-right: auto;
}
/* End restaurant Section CSS */

/* Begin beer Section CSS */
.beer {
    display: none;
    margin-top: 10px;
}

.beerSearch {
    margin-left: auto;
    margin-right: auto;
}
/* End beer Section CSS */

.hidden {
    display: none;
}

.info { 
    flex-direction: column;
    margin: 0px; 
}

.results {
    list-style: none;
}

h3 {
    padding-left: 15px;
    margin: 0px;
    margin-top: 5px;
    height: 150px;
    padding-top: 5px;
}

.info2{
    background-color: grey;
}

@media screen and (min-width: 768px){
    .info {
        width: 66%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        border: 4px solid black;
    }
}

@media screen and (min-width: 1025px){
    .info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
        margin-top: 10px;
    }

    h3 {
        width: 45%;
        align-content: space-around;
        margin-left: 5px;
    }
}

.hidden {
    display: none;
}

.info { 
    flex-direction: column;
    margin: 0px; 
}

.results {
    list-style: none;
}

h3 {
    padding-left: 15px;
    margin: 0px;
    margin-top: 5px;
    padding-top: 5px;
}

.info2{
    background-color: grey;
}

@media screen and (min-width: 768px){
    .info {
        width: 66%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        border: 4px solid black;
    }
}

@media screen and (min-width: 1025px){
    .info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
        margin-top: 10px;
    }

    h3 {
        width: 45%;
        align-content: space-around;
        margin-left: 5px;
    }
}