body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: RGBA(82, 125, 134, 0.3);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    margin: auto;
    font-family: 'Sriracha', cursive;
    background-color: RGB(199, 105, 77);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    background-image: linear-gradient(RGBA(82, 125, 134, 0.5),
    RGBA(82, 125, 134, 0.5)), 
    url("barbecue-bbq_rotated.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.zip, .geo {
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 200px;
    height: 55px;
    font-weight: bold;
    font-size: 30px;
    background-color: RGB(219, 139, 80);
    border-radius: 15px;
    border-color: RGB(219, 139, 80);
}

.hidden {
    display: none;
}

.map {
    display: block;
    height: 250px;
}

.info { 
    flex-direction: column;
    margin: 0px; 
}

.results {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    margin: 0px;
    margin-top: 5px;
}

h2 {
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 30px;
    color: RGB(219, 139, 80);
    margin-left: auto;
    margin-right: auto; 
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: RGB(58, 93, 112);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

form {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

input {
    padding-left: 10px;
}

.feedMe {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: RGB(219, 139, 80);
    border-radius: 15px;
    border-color: RGB(219, 139, 80);
}

#js-search-city {
    height: 45px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
}

label {
    background-color: RGB(58, 93, 112);
    color: RGB(219, 139, 80);
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
@media screen and (min-width: 768px){
    .search {
        height: 400px;
    }

    button {
        margin-top: 30px;
    }

    h2 {
        margin-bottom: 15px;
    }
    
    .info {
        width: 66%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .map {
        display: block;
        height: 350px;
        width: 80%;
        margin: auto;
    }

}

@media screen and (min-width: 1025px){
    .info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 40%;
        margin-top: 10px;
    }

    .map {
        margin-top: 0px;
        height: 350px;
        width: 600px;
    }

    .container {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .search {
        width: 100%;
    }
}